:root {
  --principal: #1b6b3e;
  --secundario: #25D366;
  --blanco: #fff;
  --gris: #757575;
  --grisClaro: #dfe9f3;
  --negro: #000;
  --fuentePrincipal: 'Noto', sans-serif;
  --fuenteAlternativa: 'Segoe UI', Tahoma, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  width: auto;
  background-color: var(--grisClaro);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2 {
  font-family: var(--fuentePrincipal);
  text-align: center;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: auto;
  gap: 20px;
}

.lista {
  color: #5e5a5a;
  font-family: var(--fuenteAlternativa);
  text-transform: uppercase;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  padding: 1rem;
  color: var(--blanco);
}

.boton:hover,
.lista:hover {
  background-color: var(--secundario);
}

.boton {
  background-color: var(--principal);
  color: var(--blanco);
  padding: 1rem 4rem;
  border-radius: .7rem;
  text-transform: uppercase;

}

.container {
  background-image: url(../img/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  position: relative;
  margin-top: 0;
  margin-bottom: 200px;
}

.hero {
  display: grid;
  place-items: center;
  height: 90vh;
}

.contenido-hero {
  background-color: rgba(248, 244, 244, .5);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* width: 100%; */
  height: 420px;
}

.logo {
  width: 45%;
  margin-bottom: 10px;
}

footer {
  margin-top: 6rem;
}

.texto {
  background-color: var(--blanco);
  width: auto;
  height: 43.5rem;
  display: flex;
  flex-direction: column;
  align-content: end;
  margin-top: 3rem;
  margin-bottom: 1rem;

}

.parrafoSeccion {
  background-color: var(--blanco);
  color: var(--negro);
}

.description {
  color: var(--blanco);
  border-radius: .7rem;
  padding: 5% 2%;
  text-transform: uppercase;
  background-color: var(--principal);
}

.sombra {
  -webkit-box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.75);
  border-radius: .8rem;
  padding: 2rem;
}
.campo{
  display: flex;
  flex-direction: column;
}
.contenedor-campos{
  width: 30rem;
  height: 15rem;
}
.boton-form{
  background-color: var(--principal);
  color: var(--blanco);
  padding: .5rem 2rem;
  border-radius: .7rem;
  text-transform: uppercase;
}
iframe{
  margin: 1rem;
  border-color: var(--negro);
  width: 100%;
  height: 23rem;
}
footer{
margin-top: 1rem;
}
#whatsapp {
   position: fixed;
   bottom: 20px;
   right:20px;
}
svg {
  width: 80px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}
circle {
  fill: #25d366;
}
path {
  fill: #fff;
}

ion-icon {
  margin-right: 5px;
}

/*Para Celular*/
@media(max-width: 600px) {
  .contenido-hero {
    height: 21rem;
  }

  .fotos {
    width: 13rem;
    height: 7rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1px;
    background-color: var(--gris);
    margin: 0%;

  }

  .description {

    font-size: small;
    width: 12rem;
    height: 5rem;


  }

  .card {
    padding: 2rem;
    background-color: var(--grisClaro);
    align-items: center;
    margin: .2rem;
  }

  .cards {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);


  }


}

/*Para compus*/
@media (min-width: 601px) {
  .contenedor {
    display: flex;
    row-gap: 2rem;
    column-gap: 2rem;
    height: auto;
  }

  .card {
    display: flex;
    align-items: center;
    background-color: var(--blanco);
    box-sizing: border-box;

  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0;

  }

  .fotos {
    width: 15rem;
    height: 9rem;
  }

  .texto {

    text-align: center;
    margin-right: .5rem;
    padding: 0;
    margin-bottom: 0;
    height: 92%;
    
  }



}