:root {
  --principal: #0ca678;
  --secundario: #12b886;
  --blanco: #fff;
  --gris: #343a40;
  --grisClaro: #dfe9f3;
  --negro: #000;
  --fuentePrincipal: 'Noto', sans-serif;
  --fuenteAlternativa: 'Segoe UI', Tahoma, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  width: auto;
  color: var(--gris);
  /* background-color: var(--grisClaro); */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2 {
  font-family: var(--fuentePrincipal);
  /* text-align: center; */
}


nav {
  display: flex;
  justify-content: center;
  background-color: rgba(69, 69, 69, 0.8);
  align-items: center;
  /* width: auto; */
  gap: 20px;
}

.lista {
  color: #fff;
  font-family: var(--fuenteAlternativa);
  text-transform: uppercase;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  padding: .9rem;
  color: var(--blanco);
}

.boton:hover,
.lista:hover {
  background-color: var(--secundario);
}

.boton {
  background-color: var(--principal);
  color: var(--blanco);
  padding: 1rem 4rem;
  border-radius: .7rem;
  text-transform: uppercase;

}

.container {
  background-image: url(../img/trabajador.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  position: relative;
  margin-top: 0;
  margin-bottom: 100px;
}

.hero {
  display: grid;
  place-items: center;
  height: 90vh;
}

.header--container {
  width: inherit;
  background-color: rgba(248, 244, 244, .2);
  height: 100vh;
}

.contenido-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* width: 100%; */
  height: 420px;
}

.about-us-section {
  display: flex;
  min-height: 80vh;
  gap: 40px;
  margin: 30px;
  margin-bottom: 100px;
  padding: 2rem;
  /* background-color: #087f5b; */
  background-color: #099268;
  border-radius: 12px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-us-h2 {
  font-size: 40px;
}

.about-us-p {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
  
}
.worker-img {
  width: 600px;
  height: auto;
}

/* .logo {
  width: 150px;
  margin-bottom: 10px;
} */

footer {
  margin-top: 6rem;
  border-bottom: 5px solid #0ca678;
}

.texto {
  background-color: var(--blanco);
  width: auto;
  height: 43.5rem;
  display: flex;
  flex-direction: column;
  align-content: end;
  margin-top: 3rem;
  margin-bottom: 1rem;

}

.parrafoSeccion {
  background-color: var(--blanco);
  color: var(--negro);
}

.description {
  color: var(--blanco);
  border-radius: .7rem;
  padding: 5% 2%;
  text-transform: uppercase;
  background-color: var(--principal);
}

.campo {
  display: flex;
  flex-direction: column;
}

.contenedor {
  margin-bottom: 200px;
}

.contenedor-campos {
  width: 30rem;
  height: 15rem;
}

.boton-form {
  background-color: var(--principal);
  color: var(--blanco);
  padding: .5rem 2rem;
  border-radius: .7rem;
  text-transform: uppercase;
}

.form-img {
  width: 100%;
}

iframe {
  margin: 1rem;
  border-color: var(--negro);
  width: 100%;
  height: 23rem;
}

footer {
  margin-top: 1rem;
}

.form {
  display: grid;
  margin: 50px;
  grid-template-columns: 1.15fr 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#whatsapp {
   position: fixed;
   bottom: 20px;
   right:20px;
}

svg {
  width: 80px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}

circle {
  fill: #25d366;
}

path {
  fill: #fff;
}

ion-icon {
  margin-right: 5px;
}

ion-icon {
  margin-right: 5px;
}

.servicios {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  font-family: var(--fuenteAlternativa);
}

.serv-title-span {
  color: var(--principal);
}

.card img {
  max-width: 50px;
 }
 
.card {
  border-radius: 15px;
  /* filter: drop-shadow(0 5px 10px 0 #ffffff); */
  width: 200px;
  height: 180px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background-color: #75757521; */
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card-title {
  font-size: 18px;
  max-width: 15ch;
  color: var(--gris);
}

/*Para Celular*/
@media(max-width: 600px) {
  .contenido-hero {
    height: 21rem;
  }

  .fotos {
    width: 13rem;
    height: 7rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1px;
    background-color: var(--gris);
    margin: 0%;

  }

  .description {
    font-size: small;
    width: 12rem;
    height: 5rem;

  }
  .serv{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr; 
  } 

  .card{
    max-height: 80px;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #75757560; */
  }


}

/*Para compus*/
@media (min-width: 601px) {
  .contenedor {
    display: flex;
    row-gap: 2rem;
    column-gap: 2rem;
    height: auto;
  }
  .serv{
    display: grid;
    column-gap: 30px;
    row-gap: 40px;
    grid-template-columns:repeat(5, 1fr);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0;

  }

  .fotos {
    width: 15rem;
    height: 9rem;
  }

  .texto {

    text-align: center;
    margin-right: .5rem;
    padding: 0;
    margin-bottom: 0;
    height: 92%;
    
  }

  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: var(--secundario);
    height:220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: 0.5s;
    
  }
  
  .card:hover::before{
    transition-delay:0.01s ;
    transform: scale(40);
  }

  /* La otra animacion */
  /* .card::before,
  .card::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;

    background-color: var(--principal);
    transition: 0.5s;
  }

  .card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }

  .card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }

  .card:hover::before,
  .card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  } */

}